@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.text-fade {
    position: relative;
    overflow: hidden;
}

.text-fade::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient( to top, #fff, transparent 30% );
}