.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4 {
    @apply text-slate-700;
    padding: 1rem 0 0.5rem 0;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
    @apply text-lg text-slate-600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown h1 {
    @apply text-4xl font-bold;
}

.markdown h2 {
    @apply text-3xl font-bold;
}

.markdown h3 {
    @apply text-2xl font-bold;
}

.markdown h4 {
    @apply text-xl font-bold;
}

.markdown ul {
    padding-left: 1rem;
    list-style: disc;
}